@import "variables.scss";

.card-main-title {
    font-family: $roboto;
    font-weight: 400;
    border-bottom: 2px solid $black;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 2.5rem;
}

.card {
    width: 270px;
    height: 290px;
    margin: 10px 20px 10px 0;
    transition: transform .2s;

    .card-title {
        font-size: 1.5rem;
        font-family: $roboto;
    }

    .card-text {
        font-family: $zilla;
    }

    input[type=checkbox] {
        opacity: 0;
    }

    input[type=checkbox]:checked+label {
        color: $orange;
    }

    input[type=checkbox]:disabled+label {
        color: $offwhite;
        img {
           opacity: 0.4;
            filter: alpha(opacity=40); 
        }
    }
    .card-img-top {
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }
}

.card:hover {
    transform: scale(1.1);
}

.cardButton {
    visibility: hidden;
    background-color: $orange;
    font-size: 1.2rem;
    font-family: $zilla;
    color: $black;

    border-radius: 10px;
    border: none;
    padding: 12px;
  
    &:hover {
      color: $orange;
      background-color: $black;
    }
    &:checked {
      border: none;
    }
}

.next {
    background: url(../images/next.svg);
}

@media screen and (max-width: 425px) {
    .card {
        margin: 10px auto 10px auto;
    }

    .card-main-title {
        margin: 20px auto 10px auto;
    }

    .cardButton {
        visibility: hidden;
        background-color: $orange;
        color: $black;
    }
}