/* Color Theme Swatches in Hex */
$black: #0D080B;
$orange: #df7d06;
$bright-orange: #D99559;
$offwhite: #f0ddcd;

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Zilla+Slab:ital,wght@0,700;1,400&display=swap');

$zilla: 'Zilla Slab', serif;
$roboto: 'Roboto Slab', serif;
